:root {
    --clr-dark: #191919;
    --clr-light: #fff;
}

:root {
    --ff-sans: sans-serif;
}

:root {
    --sidebar-expanded-width: 250px;
    --sidebar-collapsed-width: 80px;
    --sidebar-width: 250px;
    --header-height: 82px;

    @media (max-width: 768px) {
        --sidebar-collapsed-width: 250px;
    }
}
