.app-header {
    height: var(--header-height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-dark);
    padding: 0 30px;
    padding-left: 60px;

    [data-theme="dark"] & {
        border-bottom: 1px solid var(--clr-light);
    }

    @media (max-width: 768px) {
        padding-left: 30px;
    }

    .app-header__aside-toggle-button {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-50%);
        background-color: var(--clr-light);
        border: 1px solid var(--clr-dark);
        border-radius: 8px;
        transition: 0.35s ease-in-out;
        z-index: 1;

        [data-theme="dark"] & {
            background-color: var(--clr-dark);
            border: 1px solid var(--clr-light);
        }

        @media (max-width: 768px) {
            position: relative;
            transform: unset;
            z-index: unset;
        }

        .app-header__aside-toggle-button--icon {
            transition: 0.35s ease-in-out;

            [aria-expanded="false"] & {
                transform: rotate(180deg);
            }
        }
    }

    .app-header--logotype {
        display: none;

        font-size: 38px;
        color: var(--clr-light);
        -webkit-text-stroke: 2px var(--clr-dark);
        font-weight: bold;
    }

    .app-header__controls {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;

        .app-header__controls--item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            border: 1px solid var(--clr-dark);
            border-radius: 8px;
            padding: 8px;

            [data-theme="dark"] & {
                border: 1px solid var(--clr-light);
            }

            &.theme-switcher {
                .app-header__controls--item--icon {
                    .light,
                    .dark {
                        opacity: 0;
                        transition: opacity 0.35s ease-in-out;
                    }

                    .light {
                        [data-theme="light"] & {
                            opacity: 1;
                        }
                    }

                    .dark {
                        [data-theme="dark"] & {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
